#page-wrap
  min-width:  100vw
  height:     100%
  box-sizing: border-box

#header
  width:   100%
  height:  90px

#nav-container
  height:    50vh
  width:     15vw
  position:  relative
  float:     left 
  display:   inline-block
  margin-left: 50px

#places-container
  margin-top:     1.3rem
  width:          28vw
  height:         72vh
  display:        inline-block
  float:          left
  overflow: 	    scroll

#map
  min-height: 100%

