.angular-google-map-container
  margin-top:  2.2rem
  height:      70vh
  width:       70vw
  display:     inline-block
  float:       left

.infoWindow
  visibility:       hidden
  position:         absolute
  background-color: white
  border:           2px solid black
  height:           300

.infoWindowTitle
  font-size:   1.5rem 
  font-weight: 500
  margin:      20px 20px

.infoWindowImg
  margin:     5px 16px
  width:      230px
  height:     auto
  filter:         grayscale(1)
  -webkit-filter: grayscale(1)
  -moz-filter:    grayscale(1)
  -o-filter:      grayscale(1)
  -ms-filter:     grayscale(1)
  transition:         filter 1s ease-in-out
  -webkit-transition: -webkit-filter 1s ease-in-out
  -moz-transition:    -moz-filter 1s ease-in-out
  -o-transition:      -o-filter 1s ease-in-out
  -ms-transition:     -ms-filter 1s ease-in-out

  &:hover
    filter:         grayscale(0)
    -webkit-filter: grayscale(0)
    -moz-filter:    grayscale(0)
    -o-filter:      grayscale(0)
    -ms-filter:     grayscale(0)

.infoWindowDescription
  margin: 10px 20px

