#nav-container
  position: relative
  width: 20%
  height: 80vh
  background: yellow
  display: inline-block
  float: left

#nav-list
  margin-top: 6rem 
  margin-left: 3rem 

  li 
    margin-top: 50px
    font-size: 1.1rem
    font-family: courier
