.admin-wrap
  h1
    | Admin 
  form.simple-form(novalidate='')
    label(for='title') Title:
    input#title(type='text',        name='title',       ng-model='newPlace.title')
    label(for='category') Category:
    input#category(type='text',     name='category',    ng-model='newPlace.category') 
    label(for='desciption') Description:
    input#description(type='text',  name='description', ng-model='newPlace.description') 
    label(for='address') Address:
    input#address(type='text',      name='address',     ng-model='newPlace.address') 
    label(for='homepage') Homepage:
    input#homepage(type='text',     name='homepage',    ng-model='newPlace.homepage') 
    label(for='phone') Phone:
    input#description(type='text',  name='phone',       ng-model='newPlace.phone') 
    label(for='placeid') Place Id:
    input#placeId(type='text',      name='placeid',     ng-model='newPlace.placeid')

    input(type='submit', ng-click='savePlace()', value='Save')
  table
    thead Places
    tbody
      tr(ng-repeat="place in places")
        td
          | {{place.title}}
        td
          button.button-edit(ng-click='editPlace(place)') edit
        td
          button.button-remove(ng-click='removePlace(place)') remove