.admin-wrap
  h1.admin-title
    | Admin 
  form(novalidate='', enctype='multipart/form-data')
    label(for='title') Title:
    input(type='text',                      name='title',       ng-model='formPlace.title')
    label(for='category') Category:
    select(name='category', ng-model='formPlace.category', ng-options='category as category for category in categories' )
    label(for='desciption') Description:
    textarea.input-description(type='text', name='description', rows='3', ng-model='formPlace.description') 
    label(for='address') Address:
    input(type='text',                      name='address',     ng-model='formPlace.address') 
    label(for='homepage') Homepage:
    input(type='text',                      name='homepage',    ng-model='formPlace.homepage') 
    label(for='phone') Phone:
    input(type='text',                      name='phone',       ng-model='formPlace.phone') 
    label(for='gPlaceId') Place Id:
    input(type='text',                      name='gPlaceId',     ng-model='formPlace.gPlaceId')
    input(type='file')
    input.button-save(type='submit', ng-click='savePlace()', value='Save')
  table
    tbody
      tr(ng-repeat="place in places")
        td
          | {{place.title}}
        td
          button.button-edit(ng-click='editPlace(place)') edit
          button.button-remove(ng-click='removePlace(place)') remove