ui-gmap-google-map(center="map.center" zoom="map.zoom" options="map.options" events="map.events")
  ui-gmap-markers(models="markers" idkey="'_id'" coords="'location'" options="'options'" click="'click'")
