.places-card-wrap
  .places-card(ng-repeat="place in places" ng-click="showInfoWindow(place)")
    .places-card-title
      | {{place.title}}
  .places-card(ng-if="!places.length")
    .places-card-title
      | Are you hungry?
