.places-card-wrap
  .places-card(ng-repeat="place in places")
    .places-card-title(ng-click="setPlace(place)")
      | {{place.title}}
  .places-card(ng-if="!places.length")
    .places-card-title
      | Are you hungry?
